{% assign pages = site.pages['/'].children_in_list %}

<div id="content">

    <div class="flex flex-col lg:flex-row min-h-screen">
      <div id="menu"
        class="bg-white w-60 px-4 lg:px-6 xl:px-8 py-4 lg:py-6 sticky top-0 hidden lg:flex flex-col shadow-inner h-screen overflow-y-scroll">

        <div class="flex-1">
          <nav class="-mx-2">
            <ul class="text-base pt-2 space-y-3">



              <li>
                <a href="./"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold block  bg-gray-50 ">
                  License
                </a>
              </li>




              <li>
                <a href="/s/./tech"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold flex justify-between   bg-white  ">
                  <span>
                    Tech
                  </span>

                  <span>

                    1
                  </span>

                </a>
              </li>

              <li>
                <a href="/s/./services"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold flex justify-between   bg-white  ">
                  <span>
                    Services
                  </span>

                  <span>

                    1
                  </span>

                </a>
              </li>

              <li>
                <a href="/s/./saas"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold flex justify-between   bg-white  ">
                  <span>
                    SaaS
                  </span>

                  <span>

                    1
                  </span>

                </a>
              </li>

              <li>
                <a href="/s/./minimal"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold flex justify-between   bg-white  ">
                  <span>
                    Minimal
                  </span>

                  <span>

                    1
                  </span>

                </a>
              </li>

              <li>
                <a href="/s/./meeting"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold flex justify-between   bg-white  ">
                  <span>
                    Meeting
                  </span>

                  <span>

                    1
                  </span>

                </a>
              </li>

              <li>
                <a href="/s/./course"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold flex justify-between   bg-white  ">
                  <span>
                    Course
                  </span>

                  <span>

                    1
                  </span>

                </a>
              </li>

              <li>
                <a href="/s/./consultancy"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold flex justify-between   bg-white  ">
                  <span>
                    Consultancy
                  </span>

                  <span>

                    1
                  </span>

                </a>
              </li>

              <li>
                <a href="/s/./app"
                  class="hover:bg-gray-100 transition-colors duration-100 text-gray-700 py-2 xl:py-3 px-4  rounded-lg font-semibold flex justify-between   bg-white  ">
                  <span>
                    App
                  </span>

                  <span>

                    1
                  </span>

                </a>
              </li>


            </ul>
          </nav>
        </div>

      </div>
      <div class="flex-1 flex flex-col py-4 lg:py-8 px-4 lg:px-6 xl:px-8 overflow-hidden">
        <div class="bg-gray-100 p-6 min-h-screen flex flex-col">
          <div class="max-w-screen-2xl w-full mx-auto pt-6">
            <h1 class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-medium">Landing Page</h1>
            <p class="text-xl lg:text-2xl text-gray-600 mt-2">Version 1.0</p>
            <div class="prose pt-12">
              <h2>Changelog</h2>
              <p>All themes, components and assets offered by uibak.com can be used in personal and commercial
                projects. However you aren&rsquo;t allowed to:</p>
              <p>Re-distribute our designs, code or other assets in any way. (for example: don&rsquo;t use it in themes
                you sell).
                Share your purchases with others outside your team / company.
                Use our designs, code or other assets in page builders or related products.
                Use screenshots of our designs, code or other assets without giving us credit by linking to our website.
              </p>

            </div>
          </div>
        </div>

        <div class="max-w-screen-2xl w-full mx-auto text-gray-600 flex justify-between mt-6">
          <div>
            Made by <a href="https://www.uibak.com/"
              class="text-green-500 font-semibold hover:underline">uibak.com</a>
          </div>
          <a href="https://www.baklib.cn/" class="text-green-500 font-semibold hover:underline">View All</a>
        </div>
      </div>
    </div>

  </div>

{% schema %}
    {
        "name": "Index",
        "description": "Index Style",
        "thumb_url": "images/theme/index.png",
        "preview_image_urls": [
        "images/theme/index.png"
        ],
        "sub_page_templates": ["page"]
    }
{% endschema %}


